# Python cache files
*/__pycache__/
*.pyc

# Reference examples
# ml-powered-applications/

# Locally build models
building-ml-powered-apps/models/

# Environment files
.env

# Gradio log files
flagged/

# Locally saved datasets
bert-finetuned-ner/
datasets-issues.jsonl
distilbert-base-uncased-finetuned-imdb-accelerate/
code-search-net-tokenizer/
drug-reviews/
github-issues-text-embeddings/
pubmed_dataset/
hugging_face_course/drugsComTest_raw.tsv
hugging_face_course/drugsComTrain_raw.tsv
hugging_face_course/drugsCom_raw.zip

